{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="{{ url_for('myaccount') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" name="current-password" placeholder="Type Current Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="new-password" placeholder="Type New Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="retype-password" placeholder="Retype New Password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Change password</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
